/* css/style.css */
#map { 
    height: 900px; 
    width: 100%;
    margin: 10px auto;
    border: 2px solid #ddd;
}
/* 搜索框样式 */
.leaflet-control-search {
    background: white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#searchInput {
    width: 200px;
    padding: 5px;
    margin-right: 5px;
}
